<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<!-- 整合文件 -->
	<!-- service的注解配置 -->
	<import resource="spring-service.xml"/>
	
	<!-- mapper对象的注解配置 -->
	<import resource="spring-mapper.xml"/>
	
	<!-- 事务的注解配置 -->
	<import resource="spring-transaction.xml"/>
</beans>
